.Container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 20px;
}

.starIcon {
  display: inline-block;
  align-items: center;
  justify-content: center; 
  width: 20px;
  height: 20px;
  background-color: rgb(190, 190, 190);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.ativo {
  background-color: rgb(255, 204, 0);
}

.meia {
  background-image: linear-gradient(to right, rgb(255, 204, 0) 50%, gray 50%);
}

.starCount {
  color: aliceblue;
  display: flex;
  float: right;
  margin-right: 10px;
}
  