
  /*('https://cdn-icons-png.flaticon.com/512/2164/2164197.png');*/


  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .star {
    display: inline-block; /* Alteração aqui */
    width: 23px;
    height: 23px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2164/2164197.png');
    background-size: cover;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .active {
    transform: scale(1.2);
  }

  .clickRating {
    color: aliceblue;
    margin-left: 8px;
  }
  
  

