@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

body {
  background: #01091f;
}

.columnContainer {
    display: flex;
  }
  
  .columnItem {
    display: flex;
    justify-content: center; 
  }
  
  .cardGame {
    height: 430px;
    width: 75%;
    border-radius: 10px;
    background: #091534;
    cursor: pointer;
    margin-bottom: 40px;
    margin: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.153);
  }
  
  .thumb {
    border-radius: 10px 10px 0px 0px;
    height: 220px;
    width: 100%;
  }

  .titleGame {
    color:rgb(222, 222, 222);
    text-align: center;
    font-family: "Montserrat";
    font-size: 10pt;
    margin-top: 15px;
    margin-bottom: 40;
    word-wrap: break-word;
  }

  .genreGame {
    color: white;
    text-align: center;
    background-color: #FF5C00;
    border-radius: 0px 20px;
    font-family: 'Poppins';
    font-size: 9pt;
    font-weight: 400;
    height: 25px;
    width: 40%;
    padding-top: 5px;
    margin-top: -4px;
  }

  .containerSelectGenre {
    display: flex;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 15px;
  }

  .selectGenre {
    margin-left: 60%;
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.17);
    color: white;
    width: 200px;
    height: 35px;
    font-family: "Poppins";
    padding-left: 10px;
    cursor: pointer;
  }

  .selectGenre option {
    background-color: #23252a;
    color: white;
    cursor: pointer;
  }
  
  .titleCategory {
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 15pt;
    margin-left: 20px;
    width: 30%;
  }
 
  .noResultsMessage {
    color: #ffffff;
    font-family: "Poppins";
    margin: 50px;
  }

  .iconGroup {
    width: 25px;
    height: 25px;
  }

  .linha {
    width: 70%;
    border: 2px solid #FF5C00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
  }

  .descGame {
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 9pt;
    padding: 10px;
  }


  @media only screen and (max-width: 600px) {

    .cardGame {
      width: 50%;
    }

    .titleGame {
      font-size: 10pt;
    }

    .columnContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .titleCategory {
      font-size: 9pt;
    }

    .selectGenre {
      width: 150px;
    }

    .descGame {
      font-size: 8pt;
    }

  }

  @media only screen and (min-width: 600px) {

    .titleCategory {
      font-size: 11pt;
    }

    .titleGame {
      font-size: 12pt;
    }

    .columnContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

  }

  @media only screen and (min-width: 768px) {

    .titleGame {
      font-size: 13pt;
    }

    .columnContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

  }

  @media only screen and (min-width: 992px) {

    .titleGame {
      font-size: 14pt;
      margin-bottom: 10px;
    }

    .titleCategory {
      font-size: 14pt;
    }
  }