
.header {
    display: flex;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    background: #23252a;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.searchContainer {
    position: absolute;
    display: flex;
    top: 0;
    right: 100px;
}

.titleLogo {
    font-family: Russo One;
    color: white;
    font-size: 11pt;
    margin-top: 22px;
    margin-left: 10px;
}

.search {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    margin-top: 15px;
    background-image: url("/src/assets/search.png");
    background-size: 6% auto;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: white;
    outline: none;
    padding-left: 35px;
  }
  
  .btnsearch {
    width: 40%;
    height: 35px;
    border-radius: 5px;
    background-color: #ffb727;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .search {
        width: 200px;
    }

    .titleLogo {
        display: none;
    }

    .logo {
        width: 35px;
        height: 35px;
        margin: 15px;
    }
  }

  @media only screen and (min-width: 600px) {
    .search {
        width: 200px;
    }

    .titleLogo {
        display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    .search {
        width: 280px;
    }

    .titleLogo {
        display: inline;
    }
  }
