.container {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
  width: 370px;
  height: 100px;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.cardGame {
    width: 100px;
    border-radius: 10px;
    background: #091534;
    cursor: pointer;
    margin-bottom: 40px;
    margin: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.153);
    flex-basis: 29%;
}

.title {
    color:rgb(222, 222, 222);
    text-align: center;
    font-family: "Montserrat";
    font-size: 25pt;
    margin-top: 15px;
    margin-bottom: 40;
    word-wrap: break-word;
  }

  .genre {
    color: white;
    text-align: center;
    background-color: #FF5C00;
    border-radius: 0px 20px;
    font-family: 'Poppins';
    font-size: 8.5pt;
    font-weight: 400;
    height: 20px;
    width: 30%;
    padding-top: 5px;
    margin-top: -4px;
  }

  .titleGame {
    color:aliceblue;
    text-align: center;
    font-family: 'Montserrat';
    margin-bottom: 25px;
    font-size: 13pt;
  }

  .containerFilter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
  }

  .select {
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.17);
    color: white;
    width: 200px;
    height: 35px;
    font-family: "Poppins";
    padding-left: 10px;
    cursor: pointer;
  }

  .select option {
    background-color: #23252a;
    color: white;
    cursor: pointer;
  }
