@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

.thumbimage {
    width: 800px;
    height: 450px;
    float: right;
    display: flex;
}

.container {
    width: 100%;
    height: 500px;
    margin-top: -100px;
    margin-bottom: 30px;   
}

.containerbox {
    float: left;
    margin-top: 150px;
    margin-left: 50px;
    width: 30%;
}

.titleBox {
    color: white;
    font-family: 'Montserrat';
    font-weight: 800;
}

.subtitleBox {
    color: white;
    font-family: 'Montserrat';
}

.avaliable {
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
}

.logoWindowns {
    width: 40px;
    height: 40px;
}

.icons {
    display: flex;
}

.paragrafo {
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 9pt;
    margin-top: 15px;
}

.description {
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .thumbimage {
        width: 250px;
        height: 280px;
    }
    .icons, .avaliable, .logoWindowns {
        display: none;
    }
    .container {
        height: 280px;
    }
    .titleBox {
        font-size: 11pt;
    }
    .subtitleBox {
        font-size: 9pt;
    }
    .containerbox {
        margin-top: 90px;
    }
}

@media only screen and (min-width: 600px) {
    .thumbimage {
        width: 340px;
        height: 300px;
    }
    .icons, .avaliable, .logoWindowns {
        display: none;
    }
    .container {
        height: 300px;
    }
    .titleBox {
        font-size: 12pt;
    }
    .subtitleBox {
        font-size: 9pt;
    }
    .containerbox {
        margin-top: 110px;
    }
}

@media only screen and (min-width: 768px) {
    .thumbimage {
        width: 450px;
        height: 350px;
    }
    .container {
        height: 350px;
    }
    .icons, .avaliable, .logoWindowns {
        display:inline;
    }
    .titleBox {
        font-size: 13pt;
    }
    .subtitleBox {
        font-size: 10pt;
    }
    .avaliable {
        font-size: 10pt;
    }
    .paragrafo {
        font-size: 8pt;
    }
    .icons {
        display: flex;
    }
}

@media only screen and (min-width: 980px) {
    .container {
        height: 400px;
    }
    .thumbimage {
        width: 600px;
        height: 400px;
    }
    .containerbox {
        margin-top: 140px;
    }
    .titleBox {
        font-size: 15pt;
    }
    .subtitleBox {
        font-size: 11pt;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        height: 450px;
    }
    .thumbimage {
        width: 760px;
        height: 450px;
    }
    .titleBox {
        font-size: 20pt;
    }
    .subtitleBox {
        font-size: 13pt;
    }

}